h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 12px 0;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0;
}
h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
li {
  line-height: 24px;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.main {
  width: 600px;
  background-color: rgb(237, 236, 236);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 24px;
  margin-bottom: 12px;
}
.main p {
  line-height: 24px;
}
.main .highlight {
  box-shadow: inset 0px -10px 0 rgb(133, 255, 154);
}

.main .red:hover {
  color: red;
  transition: 0.5s;
}
.main .blue:hover {
  color: blue;
  transition: 0.5s;
}
footer {
  display: flex;
  gap: 20px;
}

footer .inputEx {
  width: 290px;
  border: 3px solid rgb(237, 236, 236);
  border-radius: 24px;
  box-sizing: border-box;
  padding: 24px;
}
footer .outputEx {
  width: 290px;
  border: 3px solid rgb(237, 236, 236);
  border-radius: 24px;
  box-sizing: border-box;
  padding: 24px;
}
.main:hover {
  transition-duration: 0.5s;
  transform: translate3d(2px, 2px, 0px);
}

footer .inputEx:hover {
  transition-duration: 0.5s;
  transform: translate3d(2px, 2px, 0px);
}
footer .outputEx:hover {
  transition-duration: 0.5s;
  transform: translate3d(2px, 2px, 0px);
}
