p{
    background-color: hotpink;
    width: 100px;
    height: 100px;
}

#box{
    background-color: dodgerblue;
    transition: all 1s;
}

.box{
    background-color: orange;
}

p[data-beom="hello"]{
    background-color: cyan;
}

#box:hover{
    background-color: coral;
    transform: translateX(30px) rotate(360deg);
}