body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    /* position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%; */
    gap:10px;
    justify-content: space-between;
    align-items: center;
    /* align-content: space-between; */
    flex-wrap: wrap;

    


    > div{
        /* width: 150px; */
        height: 150px;


        /* 얼마나 늘어날까? */
        flex-grow:1;

        /* 얼마나 줄어들까? */
        flex-shrink: 1;

        /* 처음 크기를 얼마로 잡아줄까?  */
        flex-basis: 200px;

        flex: 1;

        background-color: dodgerblue;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        &:nth-child(2){
            flex-grow: 2;
            order:1;
        }
    }
}