.list{
    background-color: hotpink;
}
.list li{
    background-color: dodgerblue;
}
.list > .menu{
    background-color: orange;
}
.list > li:nth-child(3){
    background-color: green;
}
/* CSS nesting */

/* .list{

    &:hover{
        &가 나라는 뜻 부모를 선택해야할 때 &를 쓴다
    }

    > li:nth-child(3){

    }
    > .menu{

    }
} */